.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border: 1px sloid rgb(220, 220, 220);
}

.searchbar_container > button {
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: rgb(37, 147, 225);
  color: white;
  cursor: pointer;
}
